<% include ../partials/header %>

<div class = "container" >
  
        <div class = "row text-center" >
         <h1>Edit the "<%= campground.name %>"</h1>
       <div  style = "align: center; text-align: center; margin: 0 auto; padding-top:35px;" >
               <form   action = "/campgrounds/<%=campground._id%>?_method=PUT" method = "POST" >
                  <div class = "form-group" >
                         <input type = "text" class = "form-control" style = "height:40px; width:100%;" name = "name" value = "<%= campground.name %>" required>
                   </div>
                   <div class = "form-group" >
                         <input type = "text" class = "form-control" style = "height:40px; width:100%;" name = "image" value = "<%= campground.image %>" required>
                   </div>
                   <div class = "form-group" >
                         <input type = "text" class = "form-control" style = "height:40px; width:100%;" name = "price" value = "<%= campground.price %>" required>
                   </div>
                   <div class = "form-group">
                           <textarea class = "form-control" rows = "5" cols = "30" name = "description"  required><%= campground.description %></textarea>
                    </div>
                    <div class = "form-group" >
                     <button class = "btn btn-primary btn-large btn-block" >Update</button>
                    </div>
               </form>
                   <a class = "btn btn-primary btn-large " href = "/campgrounds/<%= campground._id %>">Go Back</a>
                  <a class = "btn btn-success btn-large " href = "/campgrounds">HOME</a>     
       </div>   

        </div>

   
</div>





<% include ../partials/footer %>
